.center {
    text-align: center;
}

.icon-left {
    position: relative;

    h3 {
        margin-top: 0;
    }

    &::before {
        display: block;
        content: '';
        height: 65px;
        width: 65px;
        background: transparent url('/assets/images/apple-pay-icon.png') center center no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        transform: translateX(-150%);

        @include mobileWidth {
            position: static;
            transform: translateX(0);
            margin-bottom: 1rem;
        }
    }
}

.align-right {
    float: right;

    &::after {
        @include clearfix;
    }
}

.apple-pay-illustration {
    max-width: 372px;

    @include mobileWidth {
        max-width: 246px;
    }
}

.center-content {
    text-align: center;
}

.move-image-down {
    .col-5 {
        position: relative;
        
        img {
            position: absolute;
            bottom: -6.25rem;

            @include mobileWidth {
                position: static;
                margin-bottom: -3.35rem;
                width: 100%;
            }
        }
    }
}

.hide-mobile {

    @include mobileWidth {
        display: none !important;
    }

    @include tabletWidth {
        display: inline-block;
    }
}

.show-mobile {

    @include mobileWidth {
        display: inline-block !important;
    }

    @include tabletWidth {
        display: none !important;
    }
}

.phone-screen-mobile {
    width: 100%;
    padding: 1.9rem !important;

    img {
        width: 100%;
    }
}