.center {
    text-align: center;
}

.align-right {
    float: right;

    &::after {
        @include clearfix;
    }
}

.apple-pay-illustration {
    max-width: 372px;

    @include mobileWidth {
        max-width: 246px;
    }
}

.center-content {
    text-align: center;
}

.move-image-down {
    .col-5 {
        position: relative;
        @include mobileWidth {
            right: -2.1rem;
        }
        
        img {
            position: absolute;
            bottom: -6.25rem;

            @include mobileWidth {
                position: static;
                margin-bottom: -3.35rem;
                width: 100%;
            }
        }
    }
}

.hide-mobile {

    @include mobileWidth {
        display: none !important;
    }

    @include tabletWidth {
        display: inline-block;
    }
}

.show-mobile {

    @include mobileWidth {
        display: inline-block !important;
    }

    @include tabletWidth {
        display: none !important;
    }
}

.phone-screen-mobile {
    width: 100%;
    padding: 1.9rem !important;

    img {
        width: 100%;
    }
}

.margin-top-mobile {
    @include mobileWidth {
        margin-top: 2.5rem;
    }
}

.center-mobile {
    @include mobileWidth {
        text-align: center;
    }
}

.full-width {
    width: 100%;
}