.card-devices {
    margin-bottom: 1.5rem;

    h4 {
        margin: 0;
    }

    p {
        margin-top: 10px;
    }
}

.icon-left {
    position: relative;

    h3 {
        margin-top: 0;
    }

    &::before {
        display: block;
        content: '';
        height: 65px;
        width: 65px;
        background: transparent url('../../assets/images/apple-pay-icon.png') center center no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        transform: translateX(-150%);

        @include mobileWidth {
            display: none;
        }
    }
}