footer {
    background-color: $footer_color;
    padding: 5rem 0;

    @include mobileWidth {
        padding: 2.5rem;
    }

    p {
        color: #8E8E8D;
        font-size: .75rem;
        line-height: 1.666em;
    }

    ul {
        li {
            list-style-type: none;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 1.125rem;
                line-height: 2.222em;
            }
        }
    }

    .logo-footer {
        width: 100%;
        text-align: center;

        img {
            max-width: 116px;
        }
    }
}