.hero-section {
    background: url('../../assets/images/hero-background.png') center center no-repeat;
    background-size: cover;
    padding-bottom: 0;

    h2.hero-title {
        max-width: 50rem;
        text-align: center;
        margin: 0 auto;
    }

    p.hero-desc {
        max-width: 36rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;

        @include mobileWidth {
            margin-bottom: 0.714rem; 
        }
    }

    div.hero-app-view {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 8px);

        @include mobileWidth {
            position: static;
            transform: translateX(0);
            width: 100%;
            
            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        
        
        &::before {
            display: block;
            content: " ";
            width: 227px;
            height: 60px;
            background: transparent url('../../assets/images/viabuy-apple-pay-hero-icon.png') no-repeat;
            background-size: contain;
            position: absolute;
            bottom: 3.875rem;
            right: 0;
            transform: translateX(120%);

            @include mobileWidth {
                position: relative;
                top: 0;
                left: 50%;
                margin-bottom: 1rem;
                display: inline-block;
                transform: translateX(-50%);
                width: 175px;
                height: 46px;
            }
        }
    }
}