.main-navigation {
    padding: .6rem 0;
    background-color: #f9f9f9;

    .main-wrapper {
        position: relative;
    }

    img.logo {
        vertical-align: middle;

        @include mobileWidth {
            max-width: 86px;
        }
    }

    nav {
        display: inline-block;

        &.secondary-navigation {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &.main-navigation {
            
        }

        ul {
            display: inline-block;
            li {
                display: inline-block;
                margin-right: 1rem;
                position: relative;

                ul.sub-menu {
                    opacity: 0;
                    background-color: #fff;
                    padding: .5em 0;
                    border-radius: 3px;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -10px);
                    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
                    transition: all .2s ease-in-out .2s;
                    box-sizing: border-box;

                    &::before {
                        content: "";
                        display: block;
                        background-color: #fff;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        top: -12px;
                        left: 50%;
                        transform: translate(-50%, 50%) rotate(45deg);
                    }

                    li {
                        display: block;
                        margin-right: 0;
                        text-align: center;
                        
                        &:hover a {
                            
                            background-color: #f9f9f9;
                        }

                        a {
                            display: inline-block;
                            padding: .5em 1em;
                            margin: 0;
                            width: 100px;
                        }
                    }
                }

                &:hover > ul.sub-menu {
                    opacity: 1;
                    transform: translate(-50%, 12px);
                    transition: all .2s ease-in-out 0s;
                }

                &:last-child {
                    margin-right: 0;
                }
                
                a {
                    color: $base_color;
                    text-decoration: none;
                    transition: color .05s linear;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        &.lang-nav-mobile {
            position: absolute;
            left: 50%;

            ul {
                margin-left: 0;
                padding-left: 0;
                position: relative;
                z-index: 23;
                margin: 0;

                li {
                    //position: absolute;
                    display: block;

                    &:hover ul {
                        opacity: 1;
                        visibility: visible;
                    }

                    ul {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 10px);
                        display: block;
                        opacity: 0;
                        visibility: hidden;
                        background-color: #fff;
                        padding: .5rem 0;
                        box-shadow: 0 0 4px rgba(255, 255, 255, .4);

                        li {
                            a {
                                display: inline-block;
                                padding: 0 1rem;
                            }
                        }
                    }

                    a {
                        line-height: 24px;
                    }
                }
            }

            img {
                width: 17px;
                height: 17px;
                position: relative;
                top: 3px;
            }
        }

        &.lang-nav-mobile > ul::after {
            content: '';
            width: 17px;
            height: 24px;
            display: inline-block;
            background: transparent url('/assets/images/arrow-down.png') center center no-repeat;
            position: absolute;
            right: -22px;
            top: 0;
        }
    }

    div.nav-burger {
        position: absolute;
        right: 2rem;
        width: 24px;
        height: 24px;
        background: transparent url('/assets/images/nav-burger.png') center center no-repeat;
        background-size: contain;
        cursor: pointer;

        &.close-nav {
            background: transparent url('/assets/images/close-menu.png') center center no-repeat;
            background-size: 80%;
        }
    }

    .main-nav-mobile {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 3rem;
        left: 0;
        padding: 0;
        z-index: 22;
        display: none !important;
        
        ul {
            width: 100%;
            background-color: #363636;
            margin: 0;
            padding-left: 0;
    
            li {
                display: block;
                margin-right: 0;
                overflow: hidden;

                a {
                    display: inline-block;
                    padding: .4rem 2rem;
                    margin: 0;
                    width: 100%;
                    color: #fff;

                    &:hover {
                        background-color: rgba(255, 255, 255, .8);
                    }
                }
            }
        }
    }

    .show-menu {
        @include mobileWidth {
            display: block !important;
        }
    }

    &::after {
        content: '';
        clear: both;
        display: table;
    }
}